<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="EncryptConnection" value="true" />
    <add key="EncryptPassword" value="true" />
    <add key="OutgoingMailServer" value="smtp.office365.com" />
    <add key="AuthenticatedMailSender" value="eservices@benghui.com" />
    <add key="Password" value="VnVndTk1ODQ=" />
    <add key="DisplayName" value="BHM - eServices" />
    <add key="PortNo" value="587" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <connectionStrings>
    <!--<add name="EmailSendingDBConnection" connectionString="Database=BossBHM;Server=BHGSGPDB02;user id=DevAdmin;password=BH609189;Connect Timeout=0" providerName="System.Data.SqlClient"/>-->
    <add name="EmailSendingDBConnection" connectionString="RGF0YWJhc2U9Qm9zc0JITTtTZXJ2ZXI9QkhHU0dQREIwMjt1c2VyIGlkPURldkFkbWluO3Bhc3N3b3JkPUJINjA5MTg5O0Nvbm5lY3QgVGltZW91dD0w" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
</configuration>